* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #303030;
}
.grid-container {
  display: grid;
  grid-template-rows: 3fr 1fr 6fr;
  height: 100vh;
  width: 100vw;
}
.title {
  grid-row: 1 / 2;
  text-align: center;
  background-color: white;
  padding-top: 200px;
}
.display {
  grid-row: 2 / 3;
  background: linear-gradient(90deg, rgba(97,28,115,1) 0%, rgba(29,55,91,1) 100%);
}
.backButton {
  grid-row: 3 / 4;
  text-align: center;
  background-color: wheat;
}